:root {
    --main-text: #F4F4F4;
    --orange-text: #DF6012;
    --grey-text: #A6A6A6;
    --semidark-grey: #5f5f5f;
    --darked-grey: #4F4F4F;
    --dark-grey: #2F2F2F;
    --dark-grey-2: #1f1f1f;
    --darkest-grey: #111111;
}  

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/font/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/font/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/font/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: var(--orange-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono', monospace;
}

.main {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    position: relative;
}

.dezign {
    position: absolute;
    background-color: var(--darkest-grey);
}

.menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu__list li {
    list-style: none;
}

.menu__list a {
    list-style: none;
    color: var(--main-text);
    text-decoration: none;
}

.header__img {
    position: absolute;
    z-index: 1;
    background-color: var(--dark-grey);
    background-image: url(../assests/img/IMG_7577.jpeg);
    background-size: 100%;
}

.header__text {
    position: relative;
}

.grey {
    color: var(--grey-text);
}

.white {
    color: var(--main-text);
}

.orange {
    color: var(--orange-text);
}

.header__text__introduction {
    position: absolute;
    right: 0;
    z-index: 2;
    color: var(--orange-text);
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.cursor::after {
    animation: blink 1s infinite;
}

.header__text__introduction::after {
    opacity: 0;
    position: absolute;
    content: '|';
    color: var(--main-text);
    transform: translateX(-40%);
    font-weight: 200;
}
  
.header__text__description {
    position: absolute;
    right: 0;
    z-index: 2;
    color: var(--grey-text);
}

.header__text__description::after {
    opacity: 0;
    position: absolute;
    content: '|';
    color: var(--main-text);
    transform: translateX(-40%);
    font-weight: 200;
}

.about__text__line {
    background-color: var(--semidark-grey);
    margin: 0;
}

.about__text__text {
    margin: 0;
}

.tools__title {
    color: var(--orange-text);
}

.tools__show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}

.tools__show__ps__text,
.tools__show__ai__text,
.tools__show__html__text,
.tools__show__aud__text,
.tools__show__ble__text,
.tools__show__fig__text {
    margin: 0;
    color: var(--main-text);
}

.tools__seemore,
.learning__seemore {
    margin: 0;
}

.tools__seemore__text,
.learning__seemore__text {
    margin: 0;
    color: var(--grey-text);
    text-decoration: none;
}

.learning__title {
    color: var(--orange-text);
}

.learning__show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}

.learning__show__py__text,
.learning__show__js__text,
.learning__show__id__text {
    margin: 0;
    color: var(--main-text);
}

.footer {
    background-color: var(--darkest-grey);
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact__contact {
    color: var(--grey-text);
    text-decoration: none;
}

.contact__github {
    color: var(--grey-text);
    text-decoration: none;
}

.contact__mail {
    margin: 0;
    color: var(--grey-text);
    text-decoration: none;
}

.footer__line {
    background-color: var(--grey-text);
}

.footer__credits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__credits__text,
.footer__credits__font {
    margin: 0;
    color: var(--orange-text);
}

.footer__meme {
    margin: 0;
    color: var(--semidark-grey);
    text-align: end;
}

.idk {
    color: violet;
}

@media screen and (max-width: 768px) {
    .header {
        height: 75vw;
    }

    .dezign {
        width: 40vw;
        height: 40vw;
    }

    .menu {
        padding-top: 3%;
    }

    .menu__list {
        margin-right: 6%;
        gap: 6%;
    }

    .menu__list a {
        font-size: 3.2vw;
        font-weight: 400;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__home {
        position: relative;
    }

    .menu__list__home::after {
        content: '';
        position: absolute;
        width: 130%;
        height: 5%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-12%);
        transform-origin: center;
    }

    .header__img {
        top: 0;
        left: 0;
        width: 60%;
        margin-top: 15%;
        padding-top: 60%;
    }

    .header__text__introduction {
        width: 52.3vw;
        margin-top: 10%;
        margin-right: 3%;
        font-size: 6.7vw;
        font-weight: 500;
    }

    .header__text__description {
        width: 52.3vw;
        margin-top: 26%;
        margin-right: 3%;
        font-size: 2.8vw;
        font-weight: 400;
    }

    .about {
        margin-top: 10%;
    }
    
    .about__text {
        margin: 0;
        margin-left: 8%;
        margin-right: 4%;
        color: var(--main-text);
        font-size: 3.8vw;
        font-weight: 200;
    }
    
    @keyframes fadeIn {
        0% { opacity: 0; 
            transform: translateX(20%); 
        }
        100% { opacity: 1; 
            transform: translateX(0); 
        }
    }
    
    .about__text__line {
        opacity: 0;
        height: 1px;
        margin-top: 2.3%;
        margin-bottom: 2.3%;
        animation: fadeIn 1s forwards;
        animation-delay: 2.5s;
    }

    .num {
        position: absolute;
        padding-right: 1%;
        color: var(--semidark-grey);
        transform: translateX(-130%);
        border-right: var(--semidark-grey) solid 1px;
    }

    .numx {
        transform: translate(-130%, 100%);
    }

    .numy {
        transform: translateX(-118%);
    }

    .numa {
        color: var(--darked-grey);
        border-right: var(--darked-grey) solid 1px;
    }

    .numb {
        color: var(--dark-grey);
        border-right: var(--dark-grey) solid 1px;
    }

    .numc {
        color: var(--dark-grey-2);
        border-right: var(--dark-grey-2) solid 1px;
    }

    .numd {
        color: var(--darkest-grey);
        border-right: var(--darkest-grey) solid 1px;
    }
    
    .about__text__line__delay {
        opacity: 0;
        animation: fadeIn 1s forwards;
        animation-delay: 3s;
    }

    .about__text__like {
        opacity: 0;
        animation: fadeIn 1s forwards;
        animation-delay: 2.5s;
    }

    .about__text__tools {
        opacity: 0;
        animation: fadeIn 1s forwards;
        animation-delay: 3s;
    }

    .about__text__future {
        opacity: 0;
        animation: fadeIn 1s forwards;
        animation-delay: 3.5s;
    }
    
    .tools {
        opacity: 0;
        transform: translateY(40%);
        transition: opacity 1s ease-out, transform 1s ease-out;
        margin-top: 60%;
    }

    .tools.active {
        opacity: 1;
        transform: translateY(0);
    }

    .tools__title {
        margin: 0;
        font-size: 7vw;
        font-weight: 400;
        margin-left: 13%;
    }
    
    .tools__show { 
        width: 80%;
        margin: auto;
        margin-top: 5%;
        padding-left: 15%;
        gap: 7%;
    }
    
    .tools__show__ps__text,
    .tools__show__ai__text,
    .tools__show__html__text,
    .tools__show__aud__text,
    .tools__show__ble__text,
    .tools__show__fig__text {
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }
    
    .tools__show__ps__img {
        width: auto;
        height: 8vw;
    }
    
    .tools__show__ai__img {
        width: auto;
        height: 8vw;
    }
    
    .tools__show__html {
        width: 27vw;
        margin-top: 5%;
    }
    
    .tools__show__html__img {
        width: auto;
        height: 8vw;
    }
    
    .tools__show__aud {
        margin-top: 5%;
    }
    
    .tools__show__aud__img {
        width: auto;
        height: 8vw;
    }
    
    .tools__show__ble {
        width: 27vw;
        margin-top: 5%;
    }
    
    .tools__show__ble__img {
        width: auto;
        height: 8vw;
    }

    .tools__show__fig {
        margin-top: 5%;
    }

    .tools__show__fig__img {
        width: auto;
        height: 8vw;
    }

    .tools__seemore,
    .learning__seemore {
        margin-top: 10%;
        margin-left: 22%;
    }

    .tools__seemore__text,
    .learning__seemore__text {
        font-size: 5vw;
        font-weight: 200;
    }

    .learning {
        opacity: 0;
        transform: translateY(40%);
        transition: opacity 1s ease-out, transform 1s ease-out;
        margin-top: 70%;
    }

    .learning.active {
        opacity: 1;
        transform: translateY(0);
    }

    .learning__title {
        margin: 0;
        font-size: 7vw;
        font-weight: 400;
        margin-left: 13%;
    }

    .learning__show {
        width: 80%;
        margin: auto;
        margin-top: 5%;
        padding-left: 15%;
        gap: 7%;
    }

    .learning__show__py__text,
    .learning__show__js__text,
    .learning__show__id__text {
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }

    .learning__show__py {
        width: 28vw;
    }

    .learning__show__py__img {
        width: 8vw;
        height: auto;
    }

    .learning__show__js {
        width: 28vw;
    }

    .learning__show__js__img {
        width: 8vw;
        height: auto;
    }

    .learning__show__id {
        width: 28vw;
        margin-top: 5%;
    }

    .learning__show__id__img {
        width: 8vw;
        height: auto;
    }

    .footer {
        margin-top: 70%;
        padding-top: 2%;
        padding-bottom: 8%;
    }

    .contact {
        margin-left: 3%;
        gap: 7%;
    }

    .contact__contact,
    .contact__github {
        font-size: 4vw;
        font-weight: 200;
    }

    .contact__mail {
        margin-top: 1%;
        font-size: 4vw;
        font-weight: 200;
    }

    .footer__line {
        width: 60vw;
        height: 1px;
        margin-left: 3%;
        margin-top: 2%;
    }

    .footer__credits {
        margin-left: 3%;
        margin-top: 6%;
        font-size: 4vw;
        font-weight: 200;
    }

    .footer__credits__text,
    .footer__credits__font {
        font-size: 4vw;
        font-weight: 200;
    }

    .footer__meme {
        margin-right: 10%;
        margin-top: 7%;
        font-size: 4vw;
        font-weight: 200;
    }

}

@media screen and (min-width: 769px) {
    .header {
        height: 45vw;
    }

    .dezign {
        width: 20vw;
        height: 45vw;
        margin-left: 14%;
    }

    .menu {
        padding-top: 1%;
    }

    .menu__list {
        margin-right: 10%;
        gap: 2%;
    }

    .menu__list a {
        font-size: 1.3vw;
        font-weight: 400;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__home {
        position: relative;
    }

    .menu__list__home::after {
        content: '';
        position: absolute;
        width: 150%;
        height: 5%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-17%);
        transform-origin: center;
    }

    .header__img {
        top: 0;
        left: 0;
        width: 35vw;
        margin-top: 10%;
        margin-left: 17%;
        padding-top: 35%;
    }

    .header__text__introduction {
        width: 35vw;
        margin-top: 8%;
        margin-right: 20%;
        font-size: 4vw;
        font-weight: 500;
    }

    .header__text__description {
        width: 35vw;
        margin-top: 17.3%;
        margin-right: 20%;
        font-size: 1.665vw;
        font-weight: 400;
    }

    .about {
        margin-top: 20%;
    }
    
    .about__text {
        margin: 0;
        margin-left: 17.5%;
        margin-right: 30%;
        color: var(--main-text);
        font-size: 2vw;
        font-weight: 200;
    }
    
    @keyframes fadeIn {
        0% { opacity: 0; 
            transform: translateX(20%); 
        }
        100% { opacity: 1; 
            transform: translateX(0); 
        }
    }
    
    .about__text__line {
        opacity: 0;
        height: 1px;
        margin-top: 2.08%;
        margin-bottom: 2.08%;
        transform: translateX(20%); 
    }

    .about__text__line.active {
        opacity: 1;
        transform: translateX(0); 
        transition: all 1s ease-out;
    }

    .num {
        position: absolute;
        padding-right: 1%;
        color: var(--semidark-grey);
        transform: translateX(-130%);
        border-right: var(--semidark-grey) solid 1px;
    }

    .numx {
        transform: translate(-130%, 100%);
    }

    .numy {
        transform: translateX(-118%);
    }

    .numa {
        color: var(--darked-grey);
        border-right: var(--darked-grey) solid 1px;
    }

    .numb {
        color: var(--dark-grey);
        border-right: var(--dark-grey) solid 1px;
    }

    .numc {
        color: var(--dark-grey-2);
        border-right: var(--dark-grey-2) solid 1px;
    }

    .numd {
        color: var(--darkest-grey);
        border-right: var(--darkest-grey) solid 1px;
    }

    .about__text__line__delay {
        opacity: 0;
        transform: translateX(20%); 
    }

    .about__text__like {
        opacity: 0;
        transform: translateX(20%); 
    }

    .about__text__tools {
        opacity: 0;
        transform: translateX(20%); 
    }

    .about__text__future {
        opacity: 0;
        transform: translateX(20%); 
    }

     .about__text__line__delay.active {
        opacity: 1;
        transform: translateX(0); 
    }

    .about__text__like.active {
        opacity: 1;
        transform: translateX(0); 
        transition: all 1s ease-out;
    }

    .about__text__tools.active {
        opacity: 1;
        transform: translateX(0); 
        transition: all 1s ease-out;
    }

    .about__text__future.active {
        opacity: 1;
        transform: translateX(0); 
        transition: all 1s ease-out;
    }
    
    .tools {
        opacity: 0;
        transform: translateY(40%);
        transition: opacity 1s ease-out, transform 1s ease-out;
        margin-top: 30%;
    }

    .tools.active {
        opacity: 1;
        transform: translateY(0);
    }

    .tools__title {
        margin: 0;
        font-size: 3.5vw;
        font-weight: 400;
        margin-left: 13%;
    }
    
    
    .tools__show { 
        margin: auto;
        margin-top: 3%;
        padding-left: 14%;
        gap: 4%;
    }

    .tools__show__ps,
    .tools__show__ai,
    .tools__show__html,
    .tools__show__aud,
    .tools__show__ble,
    .tools__show__fig {
        width: 16vw;
        padding-left: 1%;
        border-left: var(--dark-grey) solid 1px;
    }
    
    .tools__show__ps__text,
    .tools__show__ai__text,
    .tools__show__html__text,
    .tools__show__aud__text,
    .tools__show__ble__text,
    .tools__show__fig__text {
        font-size: 2.3vw;
        font-weight: 200;
        line-height: 140%;
    }
    
    .tools__show__ps__img,
    .tools__show__ai__img,
    .tools__show__html__img,
    .tools__show__aud__img,
    .tools__show__ble__img,
    .tools__show__fig__img {
        width: auto;
        height: 3vw;
    }
    
    .tools__show__ble,
    .tools__show__fig {
        margin-top: 5%;
    }

    .tools__seemore,
    .learning__seemore {
        margin-top: 5%;
        margin-left: 18%;
    }
    
    .tools__seemore__text,
    .learning__seemore__text {
        font-size: 2.3vw;
        font-weight: 200;
    }
    
        .tools__seemore__text:hover,
        .learning__seemore__text:hover {
            color: var(--orange-text);
        }

    .learning {
        opacity: 0;
        transform: translateY(40%);
        transition: opacity 1s ease-out, transform 1s ease-out;
        margin-top: 40%;
    }

    .learning.active {
        opacity: 1;
        transform: translateY(0);
    }

    .learning__title {
        margin: 0;
        font-size: 3.5vw;
        font-weight: 400;
        margin-left: 13%;
    }

    .learning__show {
        margin: auto;
        margin-top: 3%;
        padding-left: 14%;
        gap: 4%;
    }

    .learning__show__py__text,
    .learning__show__js__text,
    .learning__show__id__text {
        font-size: 2.3vw;
        font-weight: 200;
        line-height: 140%;
    }

    .learning__show__py,
    .learning__show__js,
    .learning__show__id {
        width: 16vw;
        padding-left: 1%;
        border-left: var(--dark-grey) solid 1px;
    }

    .learning__show__py__img,
    .learning__show__js__img,
    .learning__show__id__img {
        width: auto;
        height: 3vw;
    }

    .footer {
        margin-top: 40%;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    .contact {
        margin-left: 5%;
        margin-right: 60%;
        gap: 7%;
    }

    .contact__contact,
    .contact__github {
        font-size: 1.5vw;
        font-weight: 200;
    }

    .contact__mail {
        margin-top: 1%;
        font-size: 1.5vw;
        font-weight: 200;
    }

    .footer__line {
        width: 22.5vw;
        height: 1px;
        margin-left: 5%;
        margin-top: 1%;
    }

    .footer__credits {
        margin-left: 5%;
        margin-top: 3%;
        font-weight: 200;
    }

    .footer__credits__text,
    .footer__credits__font {
        font-size: 1.5vw;
        font-weight: 200;
    }

    .footer__meme {
        margin-right: 10%;
        margin-top: 3%;
        font-size: 1.5vw;
        font-weight: 200;
    }

}
