:root {
    --main-text: #F4F4F4;
    --orange-text: #DF6012;
    --grey-text: #A6A6A6;
    --dark-grey: #2F2F2F;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
    background-color: black;
    -webkit-font-smoothing: antialiased; /* Improves font rendering on macOS */
    -moz-osx-font-smoothing: grayscale; /* Improves font rendering on macOS */
    text-rendering: optimizeLegibility; /* Enhances readability */
}

.header {
    height: auto;
    position: relative;
}

.menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu__list li {
    list-style: none;
}
.menu__list a {
    list-style: none;
    color: var(--main-text);
    text-decoration: none;
    font-family: 'JetBrains Mono',monospace;
}

.menu__list__home {
    text-decoration: underline;
}

.header__img {
    position: absolute;
    z-index: 1;
}

.header__text {
    position: relative;
}

.grey {
    color: var(--grey-text);
}

.white {
    color: var(--main-text);
}

.orange {
    color: var(--orange-text);
}

.header__text__introduction {
    position: absolute;
    right: 0;
    z-index: 2;
    color: var(--orange-text);
    font-family: 'JetBrains Mono',monospace;
}

.header__text__description {
    position: absolute;
    right: 0;
    z-index: 2;
    color: var(--grey-text);
    font-family: 'JetBrains Mono',monospace;
}

@media screen and (max-width: 768px) {
    .menu__list {
        margin-top: 3%;
        margin-right: 6%;
        gap: 6%;
    }

    .menu__list a {
        font-size: 80%;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__home {
        position: relative;
    }

    .menu__list__home::after {
        content: '';
        position: absolute;
        width: 130%;
        height: 10%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-12%);
        transform-origin: center;
    }

    .header__img {
        top: 0;
        left: 0;
        width: 60%;
        margin-top: 15%;
        padding-top: 60%;
        background-color: var(--dark-grey);
    }

    .header__text__introduction {
        margin-top: 12%;
        margin-right: 3%;
        font-size: 165%;
    }

    .header__text__description {
        margin-top: 28%;
        margin-right: 3%;
        font-size: 69%;
    }

}

@media screen and (min-width: 769px) {
    .menu__list {
        margin-top: 1%;
        margin-right: 2%;
        gap: 2%;
    }

    .menu__list a {
        font-size: 100%;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__home {
        position: relative;
    }

    .menu__list__home::after {
        content: '';
        position: absolute;
        width: 130%;
        height: 10%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-12%);
        transform-origin: center;
    }
    
}