:root {
    --main-text: #F4F4F4;
    --orange-text: #DF6012;
    --grey-text: #A6A6A6;
    --dark-grey: #2F2F2F;
    --darkest-grey: #090909;

}  @font-face {
    font-family: 'JetBrains Mono';
    src: url('font/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('font/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('font/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono', monospace;
}

.header {
    height: auto;
    position: relative;
}

.dezign {
    position: absolute;
    background-color: var(--darkest-grey);
}

.menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu__list li {
    list-style: none;
}

.menu__list a {
    list-style: none;
    color: var(--main-text);
    text-decoration: none;
}

.header__img {
    position: absolute;
    z-index: 1;
}

.header__text {
    position: relative;
}

.grey {
    color: var(--grey-text);
}

.white {
    color: var(--main-text);
}

.orange {
    color: var(--orange-text);
}

.header__text__introduction {
    position: absolute;
    right: 0;
    z-index: 2;
    color: var(--orange-text);
}

.header__text__description {
    position: absolute;
    right: 0;
    z-index: 2;
    color: var(--grey-text);
}

.tools__title {
    color: var(--orange-text);
}

.tools__show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
    gap: 2%;
}

@media screen and (max-width: 768px) {
    .header {
        height: 80vw;
    }

    .dezign {
        width: 40vw;
        height: 40vw;
    }

    .menu {
        padding-top: 3%;
    }

    .menu__list {
        margin-right: 6%;
        gap: 6%;
    }

    .menu__list a {
        font-size: 3.2vw;
        font-weight: 400;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__home {
        position: relative;
    }

    .menu__list__home::after {
        content: '';
        position: absolute;
        width: 130%;
        height: 10%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-12%);
        transform-origin: center;
    }

    .header__img {
        top: 0;
        left: 0;
        width: 60%;
        margin-top: 15%;
        padding-top: 60%;
        background-color: var(--dark-grey);
    }

    .header__text__introduction {
        margin-top: 10%;
        margin-right: 3%;
        font-size: 6.7vw;
        font-weight: 500;
    }

    .header__text__description {
        margin-top: 26%;
        margin-right: 3%;
        font-size: 2.8vw;
        font-weight: 400;
    }

    .tools {
        margin-top: 17%;
    }

    .tools__title {
        margin: 0;
        font-size: 7vw;
        font-weight: 400;
        margin-left: 13%;
    }

    .tools__show { 
        width: 80%;
        margin: auto;
        margin-top: 5%;
        padding-left: 15%;
        gap: 7%;
    }

    .tools__show__ps__img {
        width: 8vw;
        height: auto;
    }

    .tools__show__ps__text {
        margin: 0;
        color: var(--main-text);
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }

    .tools__show__ai__img {
        width: 8vw;
        height: auto;
    }

    .tools__show__ai__text {
        margin: 0;
        color: var(--main-text);
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }

    .tools__show__html {
        width: 28vw;
        margin-top: 5%;
    }

    .tools__show__html__img {
        width: 13vw;
        height: auto;
    }

    .tools__show__html__text {
        margin: 0;
        color: var(--main-text);
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }

    .tools__show__aud {
        margin-top: 5%;
    }

    .tools__show__aud__img {
        width: 9vw;
        height: auto;
    }

    .tools__show__aud__text {
        margin: 0;
        color: var(--main-text);
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }

    .tools__show__ble {
        margin-top: 5%;
    }

    .tools__show__ble__img {
        width: 9vw;
        height: auto;
    }

    .tools__show__ble__text {
        margin: 0;
        color: var(--main-text);
        font-size: 5vw;
        font-weight: 200;
        line-height: 140%;
    }
}

@media screen and (min-width: 769px) {
    .menu__list {
        margin-top: 1%;
        margin-right: 2%;
        gap: 2%;
    }

    .menu__list a {
        font-size: 100%;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__home {
        position: relative;
    }

    .menu__list__home::after {
        content: '';
        position: absolute;
        width: 130%;
        height: 10%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-12%);
        transform-origin: center;
    }
}