:root {
    --main-text: #F4F4F4;
    --orange-text: #DF6012;
    --grey-text: #A6A6A6;
    --semidark-grey: #5f5f5f;
    --darked-grey: #4F4F4F;
    --dark-grey: #2F2F2F;
    --dark-grey-2: #1f1f1f;
    --darkest-grey: #111111;
}  

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../assets/font/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../assets/font/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../assets/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../assets/font/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

.grey {
    color: var(--grey-text);
}

.white {
    color: var(--main-text);
}

.orange {
    color: var(--orange-text);
}

body {
    background-color: var(--orange-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono', monospace;
}

.main {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    position: relative;
}

.menu__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu__list li {
    list-style: none;
}

.menu__list a {
    list-style: none;
    color: var(--main-text);
    text-decoration: none;
}

.show {
    display: flex;
    flex-direction: row;
}

.show__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.show__item {
    background-color: var(--dark-grey);
}

.footer {
    background-color: var(--darkest-grey);
}

.footer__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact__contact {
    color: var(--grey-text);
    text-decoration: none;
}

.contact__github {
    color: var(--grey-text);
    text-decoration: none;
}

.contact__mail {
    margin: 0;
    color: var(--grey-text);
    text-decoration: none;
}

.footer__line {
    background-color: var(--grey-text);
}

.footer__credits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__credits__text,
.footer__credits__font {
    margin: 0;
    color: var(--orange-text);
}

.footer__meme {
    margin: 0;
    color: var(--semidark-grey);
    text-align: end;
}

.idk {
    color: violet;
}

@media screen and (max-width: 768px) {
    .header {
        height: 75vw;
    }

    .menu {
        padding-top: 3%;
    }

    .menu__list {
        margin-right: 6%;
        gap: 6%;
    }

    .menu__list a {
        font-size: 3.2vw;
        font-weight: 400;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__portfolio {
        position: relative;
    }

    .menu__list__portfolio::after {
        content: '';
        position: absolute;
        width: 115%;
        height: 5%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-6%);
        transform-origin: center;
    }

    .footer {
        margin-top: 70%;
        padding-top: 2%;
        padding-bottom: 8%;
    }

    .footer__contact {
        margin-left: 3%;
        gap: 7%;
    }

    .contact__contact,
    .contact__github {
        font-size: 4vw;
        font-weight: 200;
    }

    .contact__mail {
        margin-top: 1%;
        font-size: 4vw;
        font-weight: 200;
    }

    .footer__line {
        width: 60vw;
        height: 1px;
        margin-left: 3%;
        margin-top: 2%;
    }

    .footer__credits {
        margin-left: 3%;
        margin-top: 6%;
        font-size: 4vw;
        font-weight: 200;
    }

    .footer__credits__text,
    .footer__credits__font {
        font-size: 4vw;
        font-weight: 200;
    }

    .footer__meme {
        margin-right: 10%;
        margin-top: 7%;
        font-size: 4vw;
        font-weight: 200;
    }

}

@media screen and (min-width: 769px) {
    .header {
        height: 15vw;
    }

    .menu {
        padding-top: 1%;
    }

    .menu__list {
        margin-right: 10%;
        gap: 2%;
    }

    .menu__list a {
        font-size: 1.3vw;
        font-weight: 400;
    }

    .menu__list a:hover {
        color: var(--orange-text);
    }

    .menu__list__portfolio {
        position: relative;
    }

    .menu__list__portfolio::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 5%;
        background-color: var(--main-text);
        bottom: -2px;
        left: 0;
        transform: translateX(-5%);
        transform-origin: center;
    }

    .show {
        margin: 0 15vw;
    }
    
    .show__side {
        height: 100%;
        width: 20vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .show__box {
        width: 50vw;
        height: 100%;
    }

    .show__item {
        width: 23vw;
        height: 30vw;
        margin: 2%;
    }

    .footer {
        margin-top: 40%;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    .footer__contact {
        margin-left: 5%;
        margin-right: 60%;
        gap: 7%;
    }

    .contact__contact,
    .contact__github {
        font-size: 1.5vw;
        font-weight: 200;
    }

    .contact__mail {
        margin-top: 1%;
        font-size: 1.5vw;
        font-weight: 200;
    }

    .footer__line {
        width: 22.5vw;
        height: 1px;
        margin-left: 5%;
        margin-top: 1%;
    }

    .footer__credits {
        margin-left: 5%;
        margin-top: 3%;
        font-weight: 200;
    }

    .footer__credits__text,
    .footer__credits__font {
        font-size: 1.5vw;
        font-weight: 200;
    }

    .footer__meme {
        margin-right: 10%;
        margin-top: 3%;
        font-size: 1.5vw;
        font-weight: 200;
    }

}